
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --principal : #2A0F82;
    --secundaria: #FED616;

    --cinza-escuro: #222;
    --rosa: #F7134D;
    --preto : #000;
    --branco: #fff;
    
    --acerto: #4caf50;
    --erro: #f44336;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}

body {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 100%;
}

section {
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 1.75rem;
    margin: 0 0 0.5rem 0;
}

.centro {
    text-align: center;
}

.topoQuestao {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem;
    background: black transparent;
    color: var(--principal);
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--branco);
}

#nQuestao {
    font-weight: bold;
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    background: var(--principal);
    color: var(--rosa);
    padding: 4px 2px;
    border-radius: 5px;
}

#pergunta {
    margin-left: 0.5rem;
}

/* article que acomoda a questao completa */
.questao {
    max-width: 480px;
    /*padding: 1.5rem;*/
    border: 1px solid #ececec;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.questao ol li {
    color: var(--branco);
    user-select: none;
    display: block;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--rosa);
}

.questao ol li:hover {
    background: var(--rosa);
    cursor: pointer;
}

#instrucoes {
    background: #ccc;
    color: #191919;
    padding: 0.625rem;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#aviso {
    color: var(--rosa);
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;

}

@keyframes movimento {
    0%   {background-color:black; color:aqua; left:0px; top:0px;}
    25%  {background-color:yellow; color:black; left:200px; top:0px;}
    50%  {background-color:white; color:blueviolet; left:200px; top:200px;}
    75%  {background-color:black; color:yellow; left:0px; top:200px;}
    100% {background-color:yellow; color:black; left:0px; top:0px;}
  }
.clicar{
    display: flex;
    justify-content: center;
    margin-inline: auto;
    text-align: center;
    color: blueviolet;
    border-radius: 30px;
    border: 3px solid;
    padding: 10px;
    width: 300px;
    font-size: 50px;
    animation-name: movimento;
    position: relative;
  animation-duration: 4s;
  animation-iteration-count: 3;
}
@keyframes mouseOn{
    from {color: aqua;}
    to {color: yellow;}

}

.clicar:hover{
    color: aqua;
    animation:mouseOn;
    animation-duration: 4s;
}

/* ANIMACAO */

/* Animar o input */
@keyframes piscar {
    0% {
        filter: drop-shadow(0 0 15px #00b0ff);
        -webkit-filter: drop-shadow(0 0 15px #00b0ff);
        -moz-filter: drop-shadow(0 0 15px #00b0ff);
        -o-filter: drop-shadow(0 0 15px #00b0ff);
        -ms-filter: drop-shadow(0 0 15px #00b0ff);
    }
    100% {
    }
}

.animar {
    animation: piscar .75s infinite alternate;
}

.aparecer {
    animation: aparecer .5s infinite alternate;
}

@keyframes aparecer {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}